<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <br>
    <h2>Lista de Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>TÍTULO</th>
                <th>SLUG</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <% categories.forEach(category => { %>
            <tr>
                <td><%= category.id %></td>
                <td><%= category.title %></td>
                <td><%= category.slug %></td>
                <td>
                    <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                    <form action="/categories/delete" method="post"
                          style='display:inline' onsubmit="deleteOk(event,this)">
                        <input type="hidden" name="id" value="<%= category.id%>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<script>
    function deleteOk(event,form){
        event.preventDefault() // Impede o envio do formulário
        let result = confirm('Excluir categoria?')
        if(result) form.submit()
    }
</script>
<%- include ('../../partials/footer.ejs') %>